# dependencies
node_modules

# next
.next
out

# env
.env
.env.local
.env.production.local

# logs
*.log

# build
build
dist

# coverage
coverage

# vscode
.vscode/*

# brainstorm visual companion sessions
.superpowers/

# operating system
.DS_Store
Thumbs.db